<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317585237847-lm65057ngjhapv0n721v4urgjjd0ng4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317585237847-lm65057ngjhapv0n721v4urgjjd0ng4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAIC_R7DknOqR7f_M6tsdjtmK2CO_TlWSg</string>
	<key>GCM_SENDER_ID</key>
	<string>317585237847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f3</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-festival</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-festival.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317585237847:ios:e05fd7278fb672e00f4012</string>
</dict>
</plist>